<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 minutes" debug="true">
    <property name="SERVICE_NAME" value="${LOG_SERVICE_NAME}"/>
    <property name="HOSTNAME" value="${HOSTNAME}"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
<!--            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>-->
            <encoding>UTF-8</encoding>
            <providers>
                <timestamp>
                    <fieldName>log_timestamp</fieldName>
                    <pattern>[UNIX_TIMESTAMP_AS_NUMBER]</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "@host": "${HOSTNAME}",
                        "level": "%level",
                        "class": "%class{0}#%M:%L",
                        "log": "#tryJson{%msg}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <springProfile name="!prod">
        <logger name="it.petrovich" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="it.petrovich" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>
</configuration>